table {
    width: 100%;
    table-layout: fixed;
  }
  
  /* th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */
  .header-align-right {
    text-align: center;
    justify-content: flex-end;
  }  
  /* .header-align-right {
    display: flex;
    justify-content: flex-end;
  } */
  .cell-right .mat-sort-header-container { justify-content: flex-end; }