:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .login-btn {
    background-color: #fbc02d !important;
    color: #000000 !important;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .login-btn:hover {
    background-color: #b71c1c !important;
  }

  .login-btn mat-icon {
    margin-right: 4px;
  }
